# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# ==========================
# Dataset
# ==========================
ai/datasets/raw/
ai/datasets/processed/

# ==========================
# Evaluation Reports
# ==========================
ai/evaluation/

# ==========================
# Model Files
# ==========================
ai/saved_models/
*.pkl
*.joblib
*.h5

# ==========================
# Logs
# ==========================
*.log